@font-face {
    font-family: "helveticaregular";
    src: url("../fonts/helvetica-webfont.woff2") format("woff2"),
        url("../fonts/helvetica-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helveticabold";
    src: url("../fonts/helvetica-bold-webfont.woff2") format("woff2"),
        url("../fonts/helvetica-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gregoniaregular";
    src: url("../fonts/gregonia-webfont.woff2") format("woff2"),
        url("../fonts/gregonia-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arsenalbold';
    src: url('arsenal-bold-webfont.woff2') format('woff2'),
        url('arsenal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arsenalbold_italic';
    src: url('arsenal-bolditalic-webfont.woff2') format('woff2'),
        url('arsenal-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arsenalitalic';
    src: url('arsenal-italic-webfont.woff2') format('woff2'),
        url('arsenal-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arsenalregular';
    src: url('arsenal-regular-webfont.woff2') format('woff2'),
        url('arsenal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}