/* CLEAN CSS */
@import "body_reset.css";

body {
    overflow: hidden;
}

iframe {
    width: 100vw;
    height: 100vh;

}

.return_to_portfolio {
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 100000;
    opacity: 0.5;
    background-image: url("../img/return_to_portfolio.png");
    transition: scale 0.5s ease, opacity 0.5s ease;
}

.return_to_portfolio:hover {
    scale: 1.2;
    opacity: 1;
}